</head>
<body>
  <nav>
    <a 
      href="/meals/new" <%- title === 'Add Meals' ? 'class="active"' : '' %>>ADD Meals</a>
    <a 
      href="/meals/index" <%- title === 'Add Meals' ? 'class="active"' : '' %>>ALL Meals</a>
  </nav>