<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<h1><%= title %></h1>
<a href="/meals/new">New Meal</a>
<a href="/meals/index">All Meals</a>

<%- include("./partials/footer") %>