<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>
<link rel="stylesheet" href="/stylesheets/index.css">

<div class="card">
  <container>
    <h1><%= title %></h1>
    <h2>Why dont you try adding a <a href="/meals/new" class="card-link">New Meal</a></h2>
    <h2>Have a look at <a href="/meals/index" class="card-link">All Meals</a></h2>
  </container>
</div>


<%- include("./partials/footer") %>