body {
  margin: 0;
  background-image: url("../imgs/watercolor-checks.jpg");
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #B39190;
  margin-top: 100px;
  width: 450px;
  height: 300px;
  border-radius: 12px;
  border: black 2px solid;
}

.title-div, .ingredients-div, .cookTime-div, .save-btn {
  margin-top: 20px;
}

.save-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00C6C3;
  color: black;
  height: 24px;
  width: 85px;
  border-radius: 12px;
  border: black 2px solid;
}

.save-btn:hover {
  background-color: #7FD1AE;
  transition: .4s;
}

@media (max-width: 481px){
  container {
    width: 260px;
  }
}