body::before{
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url("../imgs/watercolor-checks.jpg");
  opacity: .6;
  
}

main {
  position: relative;
}

.top-show{
  margin: 0;
  text-align: center;
}

li {
  list-style-type: none;
  display: inline;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

div.headline{
  padding-bottom: 17px;
  padding-top: 17px;
}