body {
  margin: 0;
}

body::before{
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url("../imgs/watercolor-checks.jpg");
  opacity: .6;
  
}

main {
  position: relative;
}

.top-show{
  margin: 0;
  text-align: center;
  
}

li {
  list-style-type: none;
  display: inline;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  color: white;
  background-color: #464555;
  border-radius: 5px;

}

div.headline{
  padding-bottom: 17px;
  padding-top: 17px;
}

.ingredients{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 70px;
  width: 300px;
  margin: 10px;
  border-radius: 15px;
  background-color: #B39190;
}

.card:hover{
  background-color: #EBC7C6;
  color: black;
  transition: .3s;
}

.checkbox {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}