body {
  margin: 0;
  height: 100%;
  background-image: url("../imgs/watercolor-checks.jpg");
}

main {
  position: relative;
}

h1, h2 {
  margin: 0;
}

li {
  list-style-type: none;
  display: inline;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  color: white;
  background-color: #464555;
  border-radius: 5px;
  padding: 0;
}

a {
  text-decoration: none;
}

.meal-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.edit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00C6C3;
  color: black;
  height: 40px;
  width: 100px;
  border-radius: 12px;
  border: black 2px solid;
}

.edit-btn:hover {
  background-color: #7FD1AE;
  transition: .4s;
}

.top-show {
  margin: 0;
  text-align: center;
}

.headline {
  margin-bottom: 17px;
  margin-top: 17px;
}

.ingredients, .guide {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  min-height: 70px;
  width: 300px;
  margin: 10px;
  border-radius: 15px;
  border: black 2px solid;
  background-color: #B39190;
}

.guide-content {
  padding: 10px 10px 10px 50px;
}

.card:hover {
  background-color: #EBC7C6;
  color: black;
  transition: .3s;
}

.checkbox {
  cursor: pointer;
  position: absolute;
  margin-right: 250px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

@media (max-width: 639px){
  .padded-h1 {
    margin-left: 100px;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@media (min-width: 640px){
  .padded-h1 {
    margin-left: 100px;
  }
}

@media (min-width: 1100px){
  .padded-h1 {
    margin-left: 230px;
  }
}

@media (min-width: 1500px){
  .padded-h1 {
    margin-left: 400px;
  }
}

@media (min-width: 1700px){
  .padded-h1 {
    margin-left: 600px;
  }
}

@media (max-width: 280px){
  .padded-h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .card {
    width: 240px;
  }

  .checkbox {
    margin-right: 190px;
  }
}