body {
  margin: 0;
  height: 100%;
  background-image: url("../imgs/watercolor-checks.jpg");
}

main {
  position: relative;
}

h1, h2 {
  margin: 0;
}

li {
  list-style-type: none;
  display: inline;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  color: white;
  background-color: #464555;
  border-radius: 5px;
  padding: 0;
}

.meal-name{
  margin-top: 10px;
  border-radius: 5px;
}

.meal-name, .meal-name2, .meal-name3, .top-show {
  position: relative;
}

.meal-div::before{
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #CFCEDF;
  opacity: .6;
  border-radius: 15px;
  margin-right: 250px;
  margin-left: 250px;
}


.top-show{
  margin: 0;
  text-align: center;
}

.headline{
  padding-bottom: 17px;
  padding-top: 17px;
}

.ingredients, .guide {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 70px;
  width: 300px;
  margin: 10px;
  border-radius: 15px;
  background-color: #B39190;
}

.card:hover{
  background-color: #EBC7C6;
  color: black;
  transition: .3s;
}

.checkbox {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}