<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/movies/new.css" />
<%- include('../partials/nav') %>

<main>
  <h3>Enter a New Meal</h3>
  <form id="new-form" action="/meals" method="POST">
    <label>Title:
      <input type="text" name="title">
    </label><br>
    <label>Cook Time:
      <input type="text" name="cookTime">
    </label><br>
    <label>Ingredients (separate actors with commas):
      <input type="text" name="ingredient">
    </label><br>
    <label>Guide:
      <input type="text" name="guide">
    </label><br>
    <label>Vegan:
      <input type="checkbox" name="vegan" unchecked>
    </label><br>
    <label>Vegetarian:
      <input type="checkbox" name="vegetarian" unchecked>
    </label><br>
    <button type="submit">Add Meal</button>
  </form>
  <a href="/">index</a>
<main>


  <%- include("../partials/footer") %>