<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Document</title>
</head>
<body>
  <h1>Enter a New Movie</h1>
  <form action="/meals" method="POST">
    <label>Title:
      <input type="text" name="title">
    </label><br>
    <label>Cook Time:
      <input type="text" name="cookTime">
    </label><br>
    <label>Ingredients (separate actors with commas):
      <input type="text" name="ingredient">
    </label><br>
    <label>Guide:
      <input type="text" name="guide">
    </label><br>
    <label>Vegan:
      <input type="checkbox" name="vegan" checked>
    </label><br>
    <label>Vegetarian:
      <input type="checkbox" name="vegetarian" checked>
    </label><br>
    <button type="submit">Add Meal</button>
  </form>
  <a href="/">index</a>
</body>
</html>